/* src/styles/Education.css */

.education {
    margin-bottom: 20px;
}

.education form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.education input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.education button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.education button:hover {
    background-color: #1e7e34;
}
