/* src/styles/Experience.css */

.experience {
    margin-bottom: 20px;
}

.experience form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.experience input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.experience button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #ffc107;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.experience button:hover {
    background-color: #e0a800;
}
